html{
    font-size: 62.5%; /* Reset para REMS - 62.5% = 10px de 16px */
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/** Estilos Globales **/
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}
img{
    max-width: 100%;
}

/* Utilidades */
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;
}
.fw-700{
    font-weight: 700;
}
.centrar-texto{
    text-align: center;
}
.d-block{
    display: block!important;
}

.contenido-centrado{
    max-width: 80rem;
}

/* Botones */

.btn{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .btn{
        display: inline-block;
        flex: 0 0 auto;
    }
}

.btn:hover{
    cursor: pointer;
}

.btn-amarillo{
    background-color: #E08709;
}

.btn-verde{
    background-color: #71B100;
}

/* Header */

.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contenido-header h1{
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

@media (min-width: 768px) {
    .contenido-header{
        text-align: left;
    }
}

.barra{
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
}

/* Navegación */

.navegacion a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem; /* = 18px */
    display: block;
}

@media (min-width: 768px) {
    .navegacion a{
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.8rem;
    }
    .navegacion a:last-of-type{
        margin-right: 0px;
    }
    
}

.navegacion a:hover{
    color: #71B100;
}

/* Mobile Menu */

.mobile-menu img{
    width: 5rem;
}

@media (min-width: 768px) {
    .mobile-menu{
        display: none;
    }
}

.navegacion{
    display: none;
}

@media (min-width: 768px) {
    .navegacion{
        display: block;
    }
}

.navegacion:target{
    display: block;
}

/* Iconos Nosotros */ 

@media (min-width: 768px) {
    .iconos-nosotros{
        display: flex;
        justify-content: space-between;
    }   
}

.icono{
    text-align: center;
}

@media (min-width: 768px) {
    .icono{
        flex-basis: calc(33.3% - 1rem);
    }
}

.icono h3{
    text-transform: uppercase;
}

/* Anuncios */

@media (min-width: 768px) {
    .contenedor-anuncios{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.anuncio{
    border: 1px solid #b5b5b5;
    background: #f5f5f5;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .anuncio{
        flex: 0 0 calc(33.3% - 1rem); /* A flex se pasan en este orden: grow(Crecer) shrink(Encoger) basis(tamaño base)  0 = false y 1 = true*/
    }
}

.contenido-anuncio{
    padding: 0.5rem;
}

.contenido-anuncio h3,
.contenido-anuncio p{
    margin: 0;
}

.precio{
    color: #71b100;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}

.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 50rem;
    flex: 1;
}

.iconos-caracteristicas li{
    display: flex;
}

.iconos-caracteristicas li img{
    margin-right: 2rem;
}


/* Contacto Home */
.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto{
    flex: 0 0 95%;
    color: #ffffff;
}

.contenido-contacto p {
    font-size: 1.8rem;
}


/* Seccion inferior */

@media (min-width: 768px) {
    .seccion-inferior{
        display: flex;
        justify-content: space-between;
    }
    
    .seccion-inferior .blog{
        flex-basis: 60%;
    }
    
    .seccion-inferior .testimoniales{
        flex-basis: calc(40% - 2rem);
    }
}

.entrada-blog{
    margin-bottom: 2rem;
}

@media (min-width: 786px) {
    .entrada-blog{
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .entrada-blog .imagen{
        flex-basis: 40%;
    }
    
    .entrada-blog .texto-entrada{
        flex-basis: calc(60% - 2rem);
    }
}

.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}

.texto-entrada a{
    color: #000000;
    text-decoration: none;
}

.texto-entrada h4::after{
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin: 1rem;
}

.texto-entrada span{
    color: #E08709;
}

.testimonial {
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;
}
.testimonial  p {
    text-align: right;
}
.testimonial blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

.testimonial blockquote {
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

/* Footer */

.site-footer{
    background-color: #333333;
    margin: 0;
}

.contenedor-footer{
    padding: 3rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    .contenedor-footer{
        display: flex;
        justify-content: space-between;
    }
}

.copyrigth{
    margin: 0;
    color: #ffffff;
}


/** Estilos para paginas internas **/

/* Nosotros */

@media (min-width: 768px) {
    .contenido-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* fr significa fracción por ende hay fracciones osea 50 y 50 */
        grid-column-gap: 2rem;
    }   
}

.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

/* Anuncio */

.resumen-propiedad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contacto */

.contacto p{
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}

legend{
    font-size: 2rem;
    color: #4f4f4f;
}

label{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

input:not([type="submit"]),
textarea,
select{
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"]{
    width: auto;
    margin: 0;
}

select{
    -webkit-appearance: none;
    appearance: none;
}

textarea{
    height: 20rem;
}

.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}